﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Enterprise App Stack Scaffolding</h1>
    <p class="lead">
        This is a base for building secure enterprise grade applications with the following characteristics:
        <ul>
            <li>Enforced Secure communication channel and cookie handling (over SSL)</li>
            <li>OAuth/OIDC authentication/authorisation ready</li>
            <li>Accessible and Maintainable Versioned API endpoints using versioned DTOs</li>
            <li>Versatile OData enhance REST WebAPI endpoints.</li>
            <li>
                <a href="./swagger/">Self documenting APIs using OpenAPI Standard (OAS).</a>
            </li>
            <li>Open Source Framework and Libraries</li>
            <li>Maintainable and ADaptabible Domain Driven Design (DDD) based architecture</li>
            <li>Follows SOLID development practices</li>
            <li>Dependency Injection using StructureMap</li>
            <li>Automapper used to map between Logical Models and API Messsages</li>
            <li>Logic and Functionality enforced using both Static and Dynamic Behaviour Driven Development (BDD) Test Contracts</li>
        </ul>
    </p>
    <p>
        <a href="http://skysigal.com/it/ad/asp.net/webapi/howto/configure/new_app/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Read how this base solution was put together in order to understand how to build on top of it, saving time and expense.
        </p>
        <p>
            <a class="btn btn-default" href="http://skysigal.com/it/ad/asp.net/webapi/howto/configure/new_app/">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get the code</h2>
        <p>The source code of this solution is available for free.</p>
        <p>
            <a class="btn btn-default" href="https://bitbucket.org/skysigal/app.core.application-on-mvc-webapi-net-framework">Learn more &raquo;</a>
        </p>
    </div>
</div>