﻿@model App.Core.Application.Models.MediaUpload
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>
    @using (Html.BeginForm("Upload", "MediaUpload", null, FormMethod.Post, new {enctype = "multipart/form-data"})) 
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <h4>Student</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.SomeData, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SomeData, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SomeData, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Media", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <input type="file" id="Media" name="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-default" />
                    @ViewBag.Message
                </div>
            </div>
        </div>
    }</p>
